/* Class names prefixes */
$prefix: 'gjs-' !default;

/* Colors / Theme */
$primaryColor: #fcfdff !default; // 463a3c; fcfdff
$secondaryColor: #6c757d !default; // b9a5a6; 6c757d
$tertiaryColor: #4c9790 !default; //#804f7b; //804f7b;
$quaternaryColor: #0168fa !default; //d97aa6;
