.navata-manage-group {
  .btn-add {
    svg {
      color: #007bff !important;
      fill: transparent !important;
      width: 14px !important;
      height: 14px !important;
    }
  }
  .btn-edit {
    svg {
      color: #000 !important;
      fill: transparent !important;
      width: 14px !important;
      height: 14px !important;
    }
  }
  .btn-delete {
    svg {
      color: #dc3545 !important;
      fill: transparent !important;
      width: 14px !important;
      height: 14px !important;
    }
  }
}
